@import "./pages/gallery.css";
@import "./pages/about.css";
@import "./pages/releases.css";
@import "./pages/news.css";
@import "./pages/contacts.css";
@import "elements/colors.css";
@import "elements/header.css";
@import "elements/menu.css";
@import "elements/buttons.css";
@import "elements/content-title.css";
@import "elements/footer.css";
@import "elements/social icons.css";
@import "elements/tuna.css";
@import "/js/slow-scroll.js";
@import "/js/parallax-effect.js";

body {
    margin: 0 auto;
    background: url("../images/girl-background.jpg")  no-repeat center center fixed;
    background-size: 100%;
}

.page {
    max-width: 1920px;
    min-width: 320px;
    width: 100%;
}

.menu-widget {
    margin: 16rem 5em;
    width: 35rem;
    height: 10em;
    padding-top: 1em;
    border-radius: 0.2em;
    box-shadow: 0.3em 0.3em 1em var(--gray);
    background-color: var(--black);
    opacity: 0.8;
}

@media (max-width: 1440px) {
    .menu-widget {
        margin: 13.5em 2.5em;
        width: 30em;
    }
}

@media (max-width: 768px) {
    .menu-widget {
        margin: 1em 0 1.5em 4em;
        width: 40em;
    }
}

@media (max-width: 736px) {
    .menu-widget {
        margin: 1em 0 1.5em 3em;
        width: 40em;
    }
}

@media (max-width: 667px) {
    .menu-widget {
        margin: 1em 0 1.5em 1em;
        width: 40em;
    }
}

@media (max-width: 600px) {
    .menu-widget {
        margin: 1em 0 1.5em 3.4em;
        width: 30em;
    }
}

@media (max-width: 414px) {
    .menu-widget {
        margin: 1em 0 1.5em 3em;
        width: 20em;
    }
}

@media (max-width: 375px) {
    .menu-widget {
        margin: 1em 0 1.5em 2em;
        width: 20em;
    }
}

@media (max-width: 360px) {
    .menu-widget {
        margin: 1em 0 1.5em 1.4em;
        width: 20em;
    }
}

.menu-widget__title {
    text-align: center;
    padding-bottom: 1rem;
    font-family: "Century Gothic",Helvetica,sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--lightgray);
}

.menu-widget__button-link {
    text-decoration: none;
    text-transform:uppercase;
    text-align: center;
    color: var(--white);
    font-family: "Century Gothic",Helvetica,sans-serif;
}

.menu-widget__button {
    margin-left: 15em;
    padding: 1em 4em 1em 4em;
    border: 1px solid var(--lightgray);
    box-shadow: 0.1em 0.1em 1em var(--gray);
    background-color: var(--black);
}

@media (max-width: 1440px) {
    .menu-widget__button {
        margin-left: 12em;
    }
}

@media (max-width: 1024px) {
    .menu-widget__button {
        margin-left: 12em;
    }
}

@media (max-width: 768px) {
    .menu-widget__button {
        margin-left: 18em;
    }
}

@media (max-width: 600px) {
    .menu-widget__button {
        margin-left: 12.5em;
    }
}

@media (max-width: 414px) {
    .menu-widget__button {
        margin-left: 6em;
    }
}



.menu-widget__button-link:hover {
    color: var(--black);
}

.menu-widget__button-link:active {
    color: var(--white);
}

.menu-widget__button:hover {
    background-color: var(--white);
    transition: background 1s ease;
    box-shadow: 0 0 1em var(--gray);
    opacity: 0.8;

    animation-name: spin;
    animation-duration: 3s;
}

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.menu-widget__button:active {
    background-color: var(--graphit);
}

.media-music {
    background-color: var(--rgba-black);
}

.media-music__podcast {
    padding: 0 4.5rem 5rem 4.5rem;
}

.media-music__dj-set {
    padding-bottom: 1rem;
}

.media-music__dj-set:hover {
    transform: translateX(-2em);
    transition: 1s;
}

.video-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
}



.video-wrap:hover {
    filter: grayscale(1%);
    transition: 2s ease;
}

.video-wrap__clip {
    width: 80%;
    height: 50em;
    box-shadow: 0.6em 0.6em 1em var(--gray);
}

@media (max-width: 1024px) {
    .video-wrap__clip {
        height: 30em;
    }
}

@media (max-width: 600px) {
    .video-wrap__clip {
        height: 15em;
    }
}

@media (max-width: 414px) {
    .video-wrap__clip {
        width: 100%;
        height: 20em;
    }
}

@media (max-width: 375px) {
    .video-wrap__clip {
        width: 80%;
        height: 20em;
    }
}
