.content-container {
    background: var(--rgba-black);
}

.content__stuff-text {
    font-size: 2rem;
    padding: 2em 5em 3em 5em;
    text-transform: uppercase;
    font-family: "Century Gothic",Helvetica,sans-serif;
    color: var(--white);
    text-align: justify;
    word-wrap: break-word;
}

@media (max-width: 768px) {
    .content__stuff-text {
        font-size: 1rem;
        padding: 2em 2em 3em 2em;
    }
}

.content__stuff-image {
    padding: 0 10em 0 10em;
}

@media (max-width: 768px) {
    .content__stuff-image {
        padding: 0 5em 0 5em;
    }
}

@media (max-width: 414px) {
    .content__stuff-image {
        padding: 0 2em 0 2em;
    }
}

.content__stuff-image_gizz {
    max-width: 100%;
    height: auto;
}


