:root {
    --black: #0D0D0D;
    --graphit: #2D2D2D;
    --dimgray: #494949;
    --gray: #6C6C6C;
    --silver: #989898;
    --lightgray: #BFBFBF;
    --white: #eaeaea;
    --rgba-black: rgba(0, 0, 0, .70);
}
